/* nav bar */
.nav-item,
.nav-link {
    color: whitesmoke !important;
}

.navbar-brand {
    font-family: Akronim;
    font-size: 32px;

}

.nav-link btn {
    color: white;
}

.nav-link {
    text-transform: uppercase;
    margin-right: -4px;
}


.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}


/* body */
body {
    background-image: url(../img/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 900px
}


/* footer */
.pagination {
    margin-top: 80px;
}

.footer p {
    color: black;
    font-size: 18px;
}

/* footer */
.footer {
    margin-top: 100px;
}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;

}


/* dekstop */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
}