.testimonial h5 {
    text-align: center;
    font-family: Akronim;
    font-size: 36px;
    margin-top: 50px;
}

.accordion {
    margin-top: 50px;
}

.card-body {
    text-align: center;
}

.pagination {
    margin-top: 80px;
}